.nav-container {
  width: 100%;
  background: black;

  display: flex;
  align-items: center;

  @media screen and (max-width: 550px) {
    flex-direction: column;

    h1 {
      text-align: center;
      font-size: 35px;
    }
  }

  h1 {
    padding: 10px;
    color: whitesmoke;
    width: 100%;

    @media screen and (max-width: 360px) {
      font-size: 25px;
    }
  }

  img {
    margin-left: 50px;
    margin-right: 50px;

    @media screen and (max-width: 550px) {
      padding: 10px;
    }
  }
}

.container-input {
  box-shadow: 3px 3px 3px #ccc;
  position: absolute;
  width: 100%;
  display: flex;

  .input-search {
    width: 100%;
    padding: 10px;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .icon {
    float: right;
    margin-top: 13px;
    margin-right: 10px;
  }
}

.container-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 25px;
  margin-top: 46px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid gray;

  @media screen and (max-width: 500px) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  img {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;

    &:hover {
      transform: scale(1.05, 1.05);
      cursor: pointer;
      transition-duration: 0.5s;
    }
  }
}



.search {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  box-shadow: 3px 3px 13px #ccc;

  h1 {
    padding: 15px;
  }

  @media screen and (max-width: 380px) {
    h1 {
      font-size: 30px;
    }
  }
}

footer {
  width: 100%;
  background-color: #201335;
  height: 10vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: whitesmoke;
  }

}